@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Nunito', sans-serif;
   font-size: 20px;
}

body{
  
    background: #464747
}

.header{

    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
 /*.header .logo img{
    height: 70px;
    width: auto;
}*/

.header .logo img{
    height: 90px;
    width: auto;
    cursor: pointer;
   border: .5px solid rgb(94, 93, 93);
   border-radius: 50px;
   transition: all 1s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
   
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
 
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background:#eceff1 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5 ease 0s;

}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}
.cart button{
   
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background:#eceff1 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5 ease 0s;
}

.cart button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media screen and (max-width: 800px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

/*Nav*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, 95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3 ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #ffbc0e;

} 

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;

    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*---- --- ---- SLIDER ---- --- ----*/

.container-slider {
    
width: 90%;
max-width: 900px;
margin: auto;
margin-top: 50px;
overflow: hidden;
box-shadow: 0 0 0 4px #b3b0b0,
            0 10px 50px #ffbc0e;
position: relative;
}
.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}
.slider__section {
width: 100%;
}
.slider__img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.slider__btn {
position: absolute;
width: 40px;
height: 40px;
background: rgba(255, 255, 255, 0.7);
top: 50%;
transform: translateY(-50%);
font-size: 30px;
font-weight: bold;
font-family: monospace;
text-align: center;
border-radius: 50%;
cursor: pointer;
}
.slider__btn:hover {
 background: #fff;
}
.slider__btn--left {
left: 10px;
}
.slider__btn--right {
right: 10px;
}